.div51 {
  position: absolute;
  top: 31px;
  left: 35px;
  font-size: var(--font-size-xs);
  text-align: left;
}
.admin-can-see-products-informa-child,
.admin-can-see-products-informa-inner,
.admin-can-see-products-informa-item {
  position: absolute;
  top: 33.5px;
  left: 305.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 1px;
}
.admin-can-see-products-informa-inner,
.admin-can-see-products-informa-item {
  top: 42.5px;
}
.admin-can-see-products-informa-inner {
  top: 37.5px;
}
.paradise-mart13 {
  position: absolute;
  top: 101px;
  left: calc(50% - 152.5px);
  display: inline-block;
  width: 209px;
  height: 12px;
}
.products-information2 {
  position: absolute;
  top: 139px;
  left: 107px;
  color: var(--color-peru);
  display: inline-block;
  width: 161px;
}
.istockphoto-1029895828-612x612-icon13 {
  position: absolute;
  top: 70px;
  left: 18px;
  width: 70px;
  height: 55px;
  object-fit: cover;
}
.admin-can-see-products-informa-child1,
.admin-can-see-products-informa-child2 {
  position: absolute;
  top: 178px;
  left: 21px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.admin-can-see-products-informa-child2 {
  top: 250px;
  left: 24px;
}
.admin-can-see-products-informa-child3,
.admin-can-see-products-informa-child4 {
  position: absolute;
  top: 462px;
  left: 30px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.admin-can-see-products-informa-child4 {
  top: 535px;
  left: 32px;
}
.admin-can-see-products-informa-child5,
.admin-can-see-products-informa-child6 {
  position: absolute;
  top: 321px;
  left: 24px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.admin-can-see-products-informa-child6 {
  top: 391px;
}
.shirt3 {
  position: absolute;
  top: 205px;
  left: 131px;
}
.electronics4,
.sharee3 {
  position: absolute;
  top: 274px;
  left: 125px;
}
.electronics4 {
  top: 346px;
  left: 112px;
}
.products4,
.t-shirt6,
.tops3 {
  position: absolute;
  top: 412px;
  left: 116px;
}
.t-shirt6,
.tops3 {
  top: 481px;
  left: 128px;
}
.tops3 {
  top: 560px;
  left: 134px;
}
.admin-can-see-products-informa-child7,
.admin-can-see-products-informa-child8,
.admin-can-see-products-informa-child9 {
  position: absolute;
  top: 268px;
  left: 238px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 63px;
  height: 23px;
}
.admin-can-see-products-informa-child8,
.admin-can-see-products-informa-child9 {
  top: 208px;
}
.admin-can-see-products-informa-child9 {
  top: 337px;
}
.admin-can-see-products-informa-child10,
.admin-can-see-products-informa-child11,
.admin-can-see-products-informa-child12 {
  position: absolute;
  top: 407px;
  left: 238px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 63px;
  height: 23px;
}
.admin-can-see-products-informa-child11,
.admin-can-see-products-informa-child12 {
  top: 476px;
}
.admin-can-see-products-informa-child12 {
  top: 551px;
}
.details15,
.details16,
.details17,
.details18,
.details19 {
  position: absolute;
  top: 271px;
  left: 248px;
  color: var(--color-white);
}
.details16,
.details17,
.details18,
.details19 {
  top: 339px;
}
.details17,
.details18,
.details19 {
  top: 410px;
}
.details18,
.details19 {
  top: 478px;
}
.details19 {
  top: 551px;
}
.details20,
.div52 {
  position: absolute;
  top: 211px;
}
.details20 {
  left: 248px;
  color: var(--color-white);
}
.div52 {
  left: 316px;
}
.div53,
.div54,
.div55,
.div56,
.div57 {
  position: absolute;
  top: 271px;
  left: 315px;
}
.div54,
.div55,
.div56,
.div57 {
  top: 344px;
}
.div55,
.div56,
.div57 {
  top: 415px;
}
.div56,
.div57 {
  top: 484px;
}
.div57 {
  top: 553px;
}
.admin-can-see-products-informa-child13 {
  position: absolute;
  top: 73px;
  left: 278px;
  width: 28px;
  height: 27px;
  object-fit: cover;
  cursor: pointer;
}
.vector-icon60 {
  height: 3.63%;
  width: 6.46%;
  top: 94.45%;
  right: 80.74%;
  bottom: 1.92%;
  left: 12.8%;
  cursor: pointer;
}
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon61 {
  height: 3.63%;
  width: 6.46%;
  top: 94.45%;
  right: 47.41%;
  bottom: 1.92%;
  left: 46.13%;
  cursor: pointer;
}
.vector-icon62,
.vector-icon63 {
  height: 2.85%;
  width: 5.87%;
  top: 94.75%;
  right: 13.87%;
  bottom: 2.4%;
  left: 80.27%;
}
.vector-icon63 {
  height: 3.29%;
  width: 6.67%;
  top: 11.24%;
  right: 6.4%;
  bottom: 85.46%;
  left: 86.93%;
}
.admin-can-see-products-informa {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
