.div42 {
  position: absolute;
  top: 31px;
  left: 35px;
  font-size: var(--font-size-xs);
  text-align: left;
}
.seller-can-see-details-inform-child,
.seller-can-see-details-inform-inner,
.seller-can-see-details-inform-item {
  position: absolute;
  top: 33.5px;
  left: 305.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 1px;
}
.seller-can-see-details-inform-inner,
.seller-can-see-details-inform-item {
  top: 42.5px;
}
.seller-can-see-details-inform-inner {
  top: 37.5px;
}
.paradise-mart12 {
  position: absolute;
  top: 112px;
  left: calc(50% - 143.5px);
  display: inline-block;
  width: 209px;
  height: 12px;
}
.istockphoto-1029895828-612x612-icon12 {
  position: absolute;
  top: 70px;
  left: 18px;
  width: 70px;
  height: 55px;
  object-fit: cover;
}
.seller-can-see-details-inform-child1,
.seller-can-see-details-inform-child2 {
  position: absolute;
  top: 178px;
  left: 21px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.seller-can-see-details-inform-child2 {
  top: 250px;
  left: 24px;
}
.seller-can-see-details-inform-child3,
.seller-can-see-details-inform-child4 {
  position: absolute;
  top: 462px;
  left: 30px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.seller-can-see-details-inform-child4 {
  top: 535px;
  left: 32px;
}
.seller-can-see-details-inform-child5,
.seller-can-see-details-inform-child6 {
  position: absolute;
  top: 321px;
  left: 24px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.seller-can-see-details-inform-child6 {
  top: 391px;
}
.shirt2 {
  position: absolute;
  top: 205px;
  left: 131px;
}
.electronics3,
.sharee2 {
  position: absolute;
  top: 274px;
  left: 125px;
}
.electronics3 {
  top: 346px;
  left: 112px;
}
.products3,
.t-shirt5,
.tops2 {
  position: absolute;
  top: 412px;
  left: 116px;
}
.t-shirt5,
.tops2 {
  top: 481px;
  left: 128px;
}
.tops2 {
  top: 560px;
  left: 134px;
}
.seller-can-see-details-inform-child7 {
  position: absolute;
  top: 268px;
  left: 238px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 63px;
  height: 23px;
}
.seller-can-see-details-inform-child10,
.seller-can-see-details-inform-child8,
.seller-can-see-details-inform-child9 {
  position: absolute;
  top: 208px;
  left: 238px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 63px;
  height: 23px;
}
.seller-can-see-details-inform-child10,
.seller-can-see-details-inform-child9 {
  top: 337px;
}
.seller-can-see-details-inform-child10 {
  top: 407px;
  cursor: pointer;
}
.seller-can-see-details-inform-child11,
.seller-can-see-details-inform-child12 {
  position: absolute;
  top: 476px;
  left: 238px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 63px;
  height: 23px;
}
.seller-can-see-details-inform-child12 {
  top: 551px;
}
.details10,
.details11,
.details12,
.details13,
.details9 {
  position: absolute;
  top: 271px;
  left: 248px;
  color: var(--color-white);
}
.details10,
.details11,
.details12,
.details13 {
  top: 339px;
}
.details11,
.details12,
.details13 {
  top: 410px;
}
.details12,
.details13 {
  top: 478px;
}
.details13 {
  top: 551px;
}
.details14,
.div43 {
  position: absolute;
  top: 211px;
}
.details14 {
  left: 248px;
  color: var(--color-white);
}
.div43 {
  left: 316px;
}
.div44,
.div45,
.div46 {
  position: absolute;
  top: 271px;
  left: 315px;
}
.div45,
.div46 {
  top: 344px;
}
.div46 {
  top: 415px;
}
.div47,
.div48,
.vector-icon55 {
  position: absolute;
  top: 484px;
  left: 315px;
}
.div48,
.vector-icon55 {
  top: 553px;
}
.vector-icon55 {
  height: 3%;
  width: 4.27%;
  top: 13.04%;
  right: 14.13%;
  bottom: 83.96%;
  left: 81.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div49 {
  position: absolute;
  top: 96px;
  left: 299px;
  display: inline-block;
  width: 45px;
}
.vector-icon56 {
  position: absolute;
  height: 2.85%;
  width: 5.87%;
  top: 94.75%;
  right: 9.87%;
  bottom: 2.4%;
  left: 84.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.seller-can-see-details-inform-child13 {
  position: absolute;
  top: 83px;
  left: 264px;
  width: 28px;
  height: 27px;
  object-fit: cover;
  cursor: pointer;
}
.seller-can-see-details-inform-child14 {
  position: absolute;
  top: 105px;
  left: 280px;
  width: 12px;
  height: 11px;
}
.vector-icon57,
.vector-icon58 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon57 {
  height: 3.63%;
  width: 6.46%;
  top: 94.75%;
  right: 78.88%;
  bottom: 1.62%;
  left: 14.67%;
  cursor: pointer;
}
.vector-icon58 {
  height: 3.29%;
  width: 6.67%;
  top: 12.74%;
  right: 33.87%;
  bottom: 83.96%;
  left: 59.47%;
}
.div50 {
  position: absolute;
  top: 98.19px;
  left: 236px;
  transform: rotate(-1.19deg);
  transform-origin: 0 0;
}
.vector-icon59 {
  position: absolute;
  height: 3.63%;
  width: 6.46%;
  top: 94%;
  right: 45.54%;
  bottom: 2.37%;
  left: 48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.seller-can-see-details-inform {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
