.div62 {
  position: absolute;
  top: 31px;
  left: 35px;
  font-size: var(--font-size-xs);
  text-align: left;
}
.sellers-update-profile-2-child,
.sellers-update-profile-2-inner,
.sellers-update-profile-2-item {
  position: absolute;
  top: 33.5px;
  left: 305.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 1px;
}
.sellers-update-profile-2-inner,
.sellers-update-profile-2-item {
  top: 42.5px;
}
.sellers-update-profile-2-inner {
  top: 37.5px;
}
.paradise-mart17 {
  position: absolute;
  top: 88px;
  left: calc(50% - 114.5px);
  display: inline-block;
  width: 209px;
  height: 12px;
}
.istockphoto-1029895828-612x612-icon17 {
  position: absolute;
  top: 70px;
  left: 18px;
  width: 70px;
  height: 55px;
  object-fit: cover;
}
.jack-sparrow-seller {
  position: absolute;
  top: 231px;
  left: 102px;
}
.sellers-update-profile-2-child1 {
  position: absolute;
  top: 450px;
  left: 256px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 105px;
  height: 29px;
  cursor: pointer;
}
.current-position-seller,
.name-jack-sparrow {
  position: absolute;
  top: 320px;
  left: 35px;
}
.current-position-seller {
  top: 348px;
}
.address-abc-update {
  position: absolute;
  top: 376px;
  left: 33px;
}
.contact-number-0110110,
.update-profile {
  position: absolute;
  top: 406px;
  left: 33px;
}
.update-profile {
  top: 455px;
  left: 262px;
  color: var(--color-white);
}
.vector-icon86,
.vector-icon87 {
  position: absolute;
  height: 2.85%;
  width: 5.87%;
  top: 94.3%;
  right: 7.2%;
  bottom: 2.85%;
  left: 86.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon87 {
  height: 3.63%;
  width: 6.46%;
  top: 94%;
  right: 79.41%;
  bottom: 2.37%;
  left: 14.13%;
  cursor: pointer;
}
.sellers-update-profile-2-child2 {
  position: absolute;
  top: 147px;
  left: 159px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.sellers-update-profile-2-child3 {
  position: absolute;
  top: 505px;
  left: 256px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 105px;
  height: 29px;
  cursor: pointer;
}
.vector-icon88 {
  position: absolute;
  height: 3%;
  width: 4.53%;
  top: 76.46%;
  right: 27.2%;
  bottom: 20.54%;
  left: 68.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pick-order5 {
  position: absolute;
  top: 510px;
  left: 282px;
  color: var(--color-white);
}
.sellers-update-profile-2-child4 {
  position: absolute;
  top: 560px;
  left: 256px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 105px;
  height: 29px;
}
.vector-icon89 {
  position: absolute;
  height: 2.7%;
  width: 4.53%;
  top: 84.56%;
  right: 27.2%;
  bottom: 12.74%;
  left: 68.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.help-center {
  position: absolute;
  top: 565px;
  left: 275px;
  color: var(--color-white);
}
.vector-icon90 {
  position: absolute;
  height: 3.29%;
  width: 6.67%;
  top: 77.96%;
  right: 69.6%;
  bottom: 18.74%;
  left: 23.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div63 {
  position: absolute;
  top: 534.19px;
  left: 105px;
  transform: rotate(-1.19deg);
  transform-origin: 0 0;
}
.sellers-update-profile-2-child5,
.vector-icon91 {
  position: absolute;
  top: 191px;
  left: 200px;
  width: 17px;
  height: 15px;
}
.vector-icon91 {
  height: 3.63%;
  width: 6.46%;
  top: 94.3%;
  right: 45.54%;
  bottom: 2.07%;
  left: 48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.sellers-update-profile-2-child6 {
  position: absolute;
  top: 455px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 105px;
  height: 29px;
  cursor: pointer;
}
.details27 {
  position: absolute;
  top: 460px;
  left: 137px;
  color: var(--color-white);
}
.sellers-update-profile-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
