.div4 {
  position: absolute;
  top: 31px;
  left: 35px;
  font-size: var(--font-size-xs);
}
.th-page-child,
.th-page-inner,
.th-page-item {
  position: absolute;
  top: 33.5px;
  left: 305.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 1px;
}
.th-page-inner,
.th-page-item {
  top: 42.5px;
}
.th-page-inner {
  top: 37.5px;
}
.paradise-mart4 {
  position: absolute;
  top: 125px;
  left: calc(50% - 94.5px);
  text-align: center;
  display: inline-block;
  width: 209px;
  height: 12px;
}
.istockphoto-1029895828-612x612-icon4 {
  position: absolute;
  top: 70px;
  left: 18px;
  width: 70px;
  height: 55px;
  object-fit: cover;
}
.or1,
.sign-up1 {
  position: absolute;
  top: 487px;
}
.sign-up1 {
  left: 105px;
  color: var(--color-peru);
  cursor: pointer;
}
.or1 {
  left: 178px;
}
.send-code,
.th-page-child1 {
  position: absolute;
  top: 397px;
  left: 150px;
}
.th-page-child1 {
  top: 240px;
  left: 126px;
  width: 144px;
  height: 29px;
}
.mail1 {
  position: absolute;
  top: 246px;
  left: 184px;
  color: var(--color-gray);
}
.vector-icon15 {
  position: absolute;
  height: 3.33%;
  width: 6.67%;
  top: 36.88%;
  right: 72%;
  bottom: 59.79%;
  left: 21.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login2 {
  position: absolute;
  top: 487px;
  left: 223px;
  color: var(--color-peru);
  cursor: pointer;
}
.vector-icon16 {
  position: absolute;
  height: 2.7%;
  width: 4.27%;
  top: 59.52%;
  right: 33.33%;
  bottom: 37.78%;
  left: 62.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.th-page-child2 {
  position: absolute;
  top: 295px;
  left: 153px;
  border-radius: var(--br-8xs);
  background-color: var(--color-peru);
  width: 89px;
  height: 29px;
  cursor: pointer;
}
.confirm1 {
  position: absolute;
  top: 301px;
  left: 171px;
  color: var(--color-white);
}
.th-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
